[submodule "wordle-media"]
	path = wordle-media
	url = https://github.com/alec-chicherini/wordle-media.git
[submodule "wordle-json"]
	path = wordle-json
	url = https://github.com/alec-chicherini/wordle-json.git
